body {
    font-family: var(--font);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

#topBar { 
    text-align: center;
}

#librarian {
    align-self: center;
}

#dialogueBox {
    visibility: hidden;
    align-self: center;  
    border: 2px solid var(--border_color);
    padding: 1em;
    margin: 2em;  
}

#dialogueLine {
    align-self: center;
}

#mapBox {
    visibility: hidden;
}

section>ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; 
}