body {
    font-family: var(--font);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

#keypad .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#keypad button {
    width: 60px;
    height: 60px;
    font-size: 24px;
}
